<div class='container'>
  <% if flash[:error] %>
    <div class='alert'>
      <span class='closebtn' onclick="this.parentElement.style.display='none';">&times;</span>
      <%= flash[:error] %>
    </div>
  <% end %>

  <div class='template-form'>
    <h3>Create New Event Template:</h3>

    <%= form_for :event_template, url: create_path do |form| %>

      <div class='form-groups'>
        <%= form.label :target_record_type, 'Target record type:' %>
        <%= form.select :target_record_type, ['Contact'], {}, disabled: true %>
        <%= form.hidden_field :target_record_type, value: 'contacts' %>

        <%= form.label :header_template, 'Header template:' %>
        <%= form.text_area :header_template, placeholder: 'Set a header tempalte for this event', class: 'textarea' %>

        <%= form.label :detail_template, 'Details template:' %>
        <%= form.text_area :detail_template, placeholder: 'Set a details template for this event', class: 'textarea' %>

        <%= form.label :email, 'Email of the contact on whose timeline you want to render the event:' %>
        <%= form.email_field :email, required: true, placeholder: 'Email' %>
      </div>

      <pre>
        <h4> What will happen if you press the button:</h4>
        <p> 1) New event template will be created</p>
        <p> 2) Object timeline will be populated with a new event (specified above)</p>
      </pre>

      <%= form.submit 'Render timeline' %>
    <% end  %>
  </div>

  <% if @contacts_url %>
    <h3>The result of creating timeline event:</h3>
    <pre>
      <p>In order to see your newly created timeline events:</p>

      <p> 1) Click on the "Filter activity".</p>
      <p> 2) Find and choose your app in "Integrations" section.</p>
      <p> 3) After that you will be able to see the list of your events.</p>
    </pre>

    <div class='contacts-iframe'>
      <iframe src= <%= @contacts_url %> ></iframe>
    </div>
  <% end %>
</div>
