<div class="container">
  <% if @error.present? %>
    <h3><%= @error.message %></h3>
  <% else %>
    <table class="events">
      <thead>
        <tr>
          <th>Contact ID</th>
          <th>Contact Name</th>
          <th>Event type</th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact[:id] %></td>
            <td><%= contact[:name] %></td>
            <td>
            <% contact[:events].map do |event| %>
              <span class="event <%= event.event_type %>">
                <%= event.event_type %>
                <% if event.property_name.present? %>
                  <span><%= event.property_name %></span>
                <% end %>
                <% if event.property_value.present? %>
                  <span><%= event.property_value %></span>
                <% end %>
              </span>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
