<div class="container">
  <% if @error.present? %>
    <h3><%= @error.message %></h3>
  <% else %>
    <div class="row">
      <div class="column">
          <h3>CRM extension card initialization <%= "card_id = #{@card_id}" if @card_id.present? %>:</h3>
          <ol>
            <% if @card_id.nil? %>
              <li>New CRM extension card will be created (with "<%= @card_title %>" title)</li>
            <% end %>
            <li>"Data fetch URL" will be updated to <a href="<%= @data_fetch_url %>"><%= @data_fetch_url %></a></li>
            <li>"Deals" in "Target record types" section will be activated with "hs_object_id", "dealname" properties sent form HubSpot</li>
            <li>"Custom actions"->"Base URL" section will be updated with <a href="<%= @base_url %>"><%= @base_url %></a></li>
          </ol>
      </div>
    </div>

    <%= form_with(url: '/create_card', method: :post, local: true) do %>
      <%= submit_tag("Continue") %>
    <% end %>
  <% end %>
</div>
