<div class="container">
  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>
  <div class="row">
    <div class="column">
      <pre>
        <p>Show</p>
        <p># app/lib/services/hubspot/contacts/show.rb</p>
      </pre>
      <h3>Properties</h3>
      <%= form_for :contact, url: "/contacts/#{params[:id]}", method: 'put' do |form| %>
        <% @contact.properties.each do |property_key, property_value| %>
          <%= label(:contact, property_key, property_key) %>
          <% if property_key == 'hubspot_owner_id' %>
            <%= select(
              :contact,
              property_key,
              @owners.collect { |owner| [[owner.first_name, owner.last_name].join(' '), owner.id] },
              include_blank: 'Not assigned',
              selected: property_value
            ) %>
          <% else %>
            <%= text_field(:contact, property_key, value: property_value) %>
          <% end %>
        <% end %>

        <pre>
          <p>Update</p>
          <p># app/lib/services/hubspot/contacts/update.rb</p>
        </pre>
        <%= submit_tag("Save", class: 'button-primary') %>
      <% end %>
    </div>
    <div class="column">
      </div>
  </div>
</div>