<div class="container">
  <% if @error.present? %>
    <h3><%= @error.message %></h3>
  <% else %>
    <div class='contact-new-button'>
      <%= link_to('New Contact', new_contact_path, class: 'button') %>
      <%= link_to('Export To CSV', export_contacts_path(format: :csv), class: 'button') %>
    </div>

    <%= form_tag('/contacts', method: :get, class: 'contacts') do %>
      <%= text_field_tag(:search, @search_q, placeholder: 'Search by email..', id: 'search') %>
    <% end %>

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <table class="contacts">
      <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><a href="/contacts/<%= contact.id %>"><%= contact.id %></a></td>
            <td><%= contact.properties['email'] %></td>
            <td>
              <%= contact.properties['fullname'].present? ? contact.properties['fullname'] : contact.properties['email'] %>
            </td>
            <td>
              <%= button_to "delete",
                { controller: :contacts, action: :destroy, id: contact.id },
                method: :delete,
                form_class: 'delete-button'
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
