<div class="container">
  <% if @error.present? %>
    <h3><%= @error.message %></h3>
  <% else %>
  <div class='contact-new-button'>
    <a id="contact-new" href="/contacts/new">
      <input class="button-primary"  type="button" value="New Contact">
    </a>
  </div>
    <table class="contacts">
      <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
            <tr>
              <td><a href="/contacts/<%= contact.id %>"><%= contact.id %></a></td>
              <td><%= contact.properties['email'] %></td>
              <td><%= [contact.properties['firstname'], contact.properties['lastname']].join(' ') %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
