<div class="container">
  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>
  <div class="row">
    <div class="column">
        <%= form_for :property, url: "/properties/#{params[:id]}", method: 'put' do |form| %>
          <%= label(:property, :name) %>
          <%= text_field(:property, :name, value: @property.name, readonly: true) %>

          <%= label(:property, :label) %>
          <%= text_field(:property, :label, value: @property.label) %>

          <%= label(:property, :description) %>
          <%= text_field(:property, :description, value: @property.description) %>

          <%= label(:property, :group_name) %>
          <%= text_field(:property, :group_name, value: @property.group_name) %>

          <%= label(:property, :type) %>
          <%= text_field(:property, :type, value: @property.type, readonly: true) %>

          <%= text_field(:property, :field_type, value: @property.field_type, readonly: true, hidden: true) %>

          <%= submit_tag("Save", class: 'button-primary') %>
        <% end %>
    </div>
  </div>
</div>