<div class="container">
  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>

  <div class="row imports-create">
      <div class="column column-20"></div>
      <div class="column column-60">
        <h3>Import</h3>
        <%= form_tag('/imports', method: 'post', multipart: true) do %>
          <%= label_tag(:file, "File") %>
          <%= file_field_tag(:file) %>
          <%= submit_tag("Save") %>
        <% end %>
      </div>
      <div class="column column-20"></div>
  </div>
</div>